<h1>Lista de Productos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.Nombre %></td>
        <td><%= producto.Precio %></td>
        <td><%= producto.Descripcion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Lista de Productos Completa', productos_path %>